extends layout

block head
  link(href="/assets/css/list.css", rel="stylesheet")


block content
  h3 List of playable videos - #{diskspace}
  h5 #{currentDir}

  // Horrible CSS hack but acceptable given the scope of the project
  ul(style="list-style-type: none;")
    each dir in dirs
      li
        i.icon-folder-close(style="position: relative; left: -10px;")
        a(href="/web/list/#{dir.id}") #{dir.name}
        |&nbsp;-&nbsp;
        a.delete(data-name="#{dir.name}", data-id="#{dir.id}", style="color: darkred;", href="#") delete

  ul(style="position: relative; left: 10px;")
    each file in files
      li
        a(href="/web/play/#{file.id}") #{file.name}
        if file.srt === true
          |&nbsp;
          span.label srt
        |&nbsp;-&nbsp;
        a.delete(data-name="#{file.name}", data-id="#{file.id}", style="color: darkred;", href="#") delete

  form#upload-form(style="margin-top: 40px;")
    input#file(type="file", name="file", style="display: none;")
    div.input-append
      input#file-name(type="text", placeholder="Click to select file")
      a.btn#launch-upload Upload

    div#progress-bar
      div#progress-bar-inner

  div.input-append
    input#dir-name(type="text", placeholder="Directory name")
    a.btn#create-dir Create new directory

  div#current-dir-base64(style="display: none;") #{currentDirBase64}


block specificJs
  script(type="text/javascript", src="/assets/js/list.js")
